/*header*/
body {
    background-color: #22313a;
}

.mdl-layout__header {
    display: flex;
    height: 260px !important;
    background-color: #1e2a31 !important;
}

.mdl-layout__header-row {
    margin-top: 25px !important;
}

.mdl-layout__input {
    margin-left: 90px;
}

.one-title {

}

.mdl-layout__headline-3 {
    margin-top: 100px;
    margin-left: -330px;

}

/*left navbar*/
.mdl-layout__drawer {
    background-color: #22313a!important;
}





/*left fixed navbar*/


/*app bar*/

table {
    margin-top: -43px;
}

.wide-card.mdl-card {
    margin-left: 290px;
    background-color: #2b3c46;
    margin-top: 20px;
    width: 510px;
    z-index: 9;
}

.square-card.mdl-card {
    width: 256px;
    height: 256px;
}

.image-card.mdl-card {
    margin-top: 20px;
    width: 410px;
    height: 256px;
    background: url(../img/sahara.jpg) center / cover;
}


.event-card.mdl-card {
    width: 256px;
    height: 256px;
}

.event-card.mdl-card__title {
    color: #fff;
    height: 176px;
}

.event-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    color: #fff;
}
