/*header*/
.mdl-layout__header {
    display: flex;
    height: 260px !important;
}

.mdl-layout__header-row {
    margin-top: 25px !important;
}

.mdl-layout__input {
    margin-left: 90px;
}

.one-title {

}

.mdl-layout__headline-3 {
    margin-top: 100px;
    margin-left: -330px;
    z-index: 9;
}

/*left navbar*/

/*left fixed navbar*/


/*app bar*/

.wide-card.mdl-card {
    width: 512px;
}

.square-card.mdl-card {
    width: 256px;
    height: 256px;
}

.image-card.mdl-card {
    width: 256px;
    height: 256px;
    background: url(../img/sahara.jpg) center / cover;
}

.image-card-image__filename {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.event-card.mdl-card {
    width: 256px;
    height: 256px;
    background: #3E4EB8;
}

.event-card.mdl-card__title {
    color: #fff;
    height: 176px;
}

.event-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    color: #fff;
}
