body {

}

.mdl-layout__header {
    height: 260px !important;
    background-color: #1e2a31 !important;
}


/*нужно понять как называеться действие при котором открываеться Left bar  и навесить собитие*/
.mdl-layout__drawer {
    /*width:345px!important; ;*/
}


/*<!--app bar-->*/

table {
    float: right ;
}
.wide-card.mdl-card {
    width: 512px;
}


.event-card.mdl-card {
    width: 256px;
    height: 256px;
    background: #3E4EB8;
}

.event-card.mdl-card__title {
    color: #fff;
    height: 176px;
}

.event-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    color: #fff;
}